<table class="table table-bordered">
    <tbody>
        <tr id="boxes1">
            <script>
                var x ="", i;
                for (i=1; i<=15; i++) {
                  x = x + "<td class='align-middle'><a href='#' id='host" + i + "'>" + i + "</a></td>";
                }
                $('#boxes1').append(x);
            </script>
        </tr>
        <tr id="boxes2">
            <script>
                var x ="", i;
                for (i=16; i<=30; i++) {
                  x = x + "<td class='align-middle'>" + i + "</td>";
                }
                $('#boxes2').append(x);
            </script>
        </tr>
        <tr id="boxes3">
            <script>
                var x ="", i;
                for (i=31; i<=45; i++) {
                  x = x + "<td class='align-middle'>" + i + "</td>";
                }
                $('#boxes3').append(x);
            </script>
        </tr>
        <tr id="boxes4">
            <script>
                var x ="", i;
                for (i=46; i<=60; i++) {
                  x = x + "<td class='align-middle'>" + i + "</td>";
                }
                $('#boxes4').append(x);
            </script>
        </tr>
        <tr id="boxes5">
            <script>
                var x ="", i;
                for (i=61; i<=75; i++) {
                  x = x + "<td class='align-middle'>" + i + "</td>";
                }
                $('#boxes5').append(x);
            </script>
        </tr>
    </tbody>
</table>